src/main/resources/wsdl/findCustomerBasicInfo.wsdl

    <!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b220215.0856 svn-revision#unknown.  -->
    <!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b220215.0856 svn-revision#unknown.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer.server.ws.supernova.neptunesoftware.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://customer.server.ws.supernova.neptunesoftware.com/" name="CustomerWebServiceEndPointPort">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://customer.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://common.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.customer.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=3"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.account.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=4"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.channeladmin.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=5"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://data.refglobal.server.ws.supernova.neptunesoftware.com/" schemaLocation="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort?xsd=6"/>
        </xsd:schema>
    </types>
    <message name="findCustomerRelationshipInformation">
        <part name="parameters" element="tns:findCustomerRelationshipInformation"/>
    </message>
    <message name="findCustomerRelationshipInformationResponse">
        <part name="parameters" element="tns:findCustomerRelationshipInformationResponse"/>
    </message>
    <message name="XAPIException">
        <part xmlns:ns1="http://common.ws.supernova.neptunesoftware.com/" name="fault" element="ns1:XAPIException"/>
    </message>
    <message name="findCustomerIdentificationInformation">
        <part name="parameters" element="tns:findCustomerIdentificationInformation"/>
    </message>
    <message name="findCustomerIdentificationInformationResponse">
        <part name="parameters" element="tns:findCustomerIdentificationInformationResponse"/>
    </message>
    <message name="addGroupMember">
        <part name="parameters" element="tns:addGroupMember"/>
    </message>
    <message name="addGroupMemberResponse">
        <part name="parameters" element="tns:addGroupMemberResponse"/>
    </message>
    <message name="createCollateral">
        <part name="parameters" element="tns:createCollateral"/>
    </message>
    <message name="createCollateralResponse">
        <part name="parameters" element="tns:createCollateralResponse"/>
    </message>
    <message name="submitCustomer">
        <part name="parameters" element="tns:submitCustomer"/>
    </message>
    <message name="submitCustomerResponse">
        <part name="parameters" element="tns:submitCustomerResponse"/>
    </message>
    <message name="getGroupMember">
        <part name="parameters" element="tns:getGroupMember"/>
    </message>
    <message name="getGroupMemberResponse">
        <part name="parameters" element="tns:getGroupMemberResponse"/>
    </message>
    <message name="createCustomer">
        <part name="parameters" element="tns:createCustomer"/>
    </message>
    <message name="createCustomerResponse">
        <part name="parameters" element="tns:createCustomerResponse"/>
    </message>
    <message name="findCustomerBasicInformation">
        <part name="parameters" element="tns:findCustomerBasicInformation"/>
    </message>
    <message name="findCustomerBasicInformationResponse">
        <part name="parameters" element="tns:findCustomerBasicInformationResponse"/>
    </message>
    <message name="findCustomerCollateralInformation">
        <part name="parameters" element="tns:findCustomerCollateralInformation"/>
    </message>
    <message name="findCustomerCollateralInformationResponse">
        <part name="parameters" element="tns:findCustomerCollateralInformationResponse"/>
    </message>
    <message name="addCustomerImage">
        <part name="parameters" element="tns:addCustomerImage"/>
    </message>
    <message name="addCustomerImageResponse">
        <part name="parameters" element="tns:addCustomerImageResponse"/>
    </message>
    <message name="addCustomerDocument">
        <part name="parameters" element="tns:addCustomerDocument"/>
    </message>
    <message name="addCustomerDocumentResponse">
        <part name="parameters" element="tns:addCustomerDocumentResponse"/>
    </message>
    <message name="addCustomerIdentification">
        <part name="parameters" element="tns:addCustomerIdentification"/>
    </message>
    <message name="addCustomerIdentificationResponse">
        <part name="parameters" element="tns:addCustomerIdentificationResponse"/>
    </message>
    <message name="modifyCustomerIdentification">
        <part name="parameters" element="tns:modifyCustomerIdentification"/>
    </message>
    <message name="modifyCustomerIdentificationResponse">
        <part name="parameters" element="tns:modifyCustomerIdentificationResponse"/>
    </message>
    <message name="addCustomerContactDetails">
        <part name="parameters" element="tns:addCustomerContactDetails"/>
    </message>
    <message name="addCustomerContactDetailsResponse">
        <part name="parameters" element="tns:addCustomerContactDetailsResponse"/>
    </message>
    <message name="modifyCustomerContactDetails">
        <part name="parameters" element="tns:modifyCustomerContactDetails"/>
    </message>
    <message name="modifyCustomerContactDetailsResponse">
        <part name="parameters" element="tns:modifyCustomerContactDetailsResponse"/>
    </message>
    <message name="modifyCustomerAddress">
        <part name="parameters" element="tns:modifyCustomerAddress"/>
    </message>
    <message name="modifyCustomerAddressResponse">
        <part name="parameters" element="tns:modifyCustomerAddressResponse"/>
    </message>
    <message name="modifyCustomerDocument">
        <part name="parameters" element="tns:modifyCustomerDocument"/>
    </message>
    <message name="modifyCustomerDocumentResponse">
        <part name="parameters" element="tns:modifyCustomerDocumentResponse"/>
    </message>
    <message name="getCustomerNameOrder">
        <part name="parameters" element="tns:getCustomerNameOrder"/>
    </message>
    <message name="getCustomerNameOrderResponse">
        <part name="parameters" element="tns:getCustomerNameOrderResponse"/>
    </message>
    <message name="modifyCustomerImage">
        <part name="parameters" element="tns:modifyCustomerImage"/>
    </message>
    <message name="modifyCustomerImageResponse">
        <part name="parameters" element="tns:modifyCustomerImageResponse"/>
    </message>
    <message name="findCustomerAllAddress">
        <part name="parameters" element="tns:findCustomerAllAddress"/>
    </message>
    <message name="findCustomerAllAddressResponse">
        <part name="parameters" element="tns:findCustomerAllAddressResponse"/>
    </message>
    <message name="findCustomerDataItem">
        <part name="parameters" element="tns:findCustomerDataItem"/>
    </message>
    <message name="findCustomerDataItemResponse">
        <part name="parameters" element="tns:findCustomerDataItemResponse"/>
    </message>
    <message name="getGroupInformation">
        <part name="parameters" element="tns:getGroupInformation"/>
    </message>
    <message name="getGroupInformationResponse">
        <part name="parameters" element="tns:getGroupInformationResponse"/>
    </message>
    <message name="getAgentCustomers">
        <part name="parameters" element="tns:getAgentCustomers"/>
    </message>
    <message name="getAgentCustomersResponse">
        <part name="parameters" element="tns:getAgentCustomersResponse"/>
    </message>
    <message name="getGroupMemberList">
        <part name="parameters" element="tns:getGroupMemberList"/>
    </message>
    <message name="getGroupMemberListResponse">
        <part name="parameters" element="tns:getGroupMemberListResponse"/>
    </message>
    <message name="removeGroupMember">
        <part name="parameters" element="tns:removeGroupMember"/>
    </message>
    <message name="removeGroupMemberResponse">
        <part name="parameters" element="tns:removeGroupMemberResponse"/>
    </message>
    <message name="createCustomerExternalBeneficiary">
        <part name="parameters" element="tns:createCustomerExternalBeneficiary"/>
    </message>
    <message name="createCustomerExternalBeneficiaryResponse">
        <part name="parameters" element="tns:createCustomerExternalBeneficiaryResponse"/>
    </message>
    <message name="createCustomerNextOfKin">
        <part name="parameters" element="tns:createCustomerNextOfKin"/>
    </message>
    <message name="createCustomerNextOfKinResponse">
        <part name="parameters" element="tns:createCustomerNextOfKinResponse"/>
    </message>
    <message name="findCustomerNextOfKinInformations">
        <part name="parameters" element="tns:findCustomerNextOfKinInformations"/>
    </message>
    <message name="findCustomerNextOfKinInformationsResponse">
        <part name="parameters" element="tns:findCustomerNextOfKinInformationsResponse"/>
    </message>
    <message name="findCustomerDetails">
        <part name="parameters" element="tns:findCustomerDetails"/>
    </message>
    <message name="findCustomerDetailsResponse">
        <part name="parameters" element="tns:findCustomerDetailsResponse"/>
    </message>
    <message name="removeCustomerRelationshipInformation">
        <part name="parameters" element="tns:removeCustomerRelationshipInformation"/>
    </message>
    <message name="removeCustomerRelationshipInformationResponse">
        <part name="parameters" element="tns:removeCustomerRelationshipInformationResponse"/>
    </message>
    <message name="createCustomerRelationships">
        <part name="parameters" element="tns:createCustomerRelationships"/>
    </message>
    <message name="createCustomerRelationshipsResponse">
        <part name="parameters" element="tns:createCustomerRelationshipsResponse"/>
    </message>
    <message name="modifyCustomerRelationships">
        <part name="parameters" element="tns:modifyCustomerRelationships"/>
    </message>
    <message name="modifyCustomerRelationshipsResponse">
        <part name="parameters" element="tns:modifyCustomerRelationshipsResponse"/>
    </message>
    <message name="removeCustomerBeneficiary">
        <part name="parameters" element="tns:removeCustomerBeneficiary"/>
    </message>
    <message name="removeCustomerBeneficiaryResponse">
        <part name="parameters" element="tns:removeCustomerBeneficiaryResponse"/>
    </message>
    <message name="modifyCustomerEmploymentInfo">
        <part name="parameters" element="tns:modifyCustomerEmploymentInfo"/>
    </message>
    <message name="modifyCustomerEmploymentInfoResponse">
        <part name="parameters" element="tns:modifyCustomerEmploymentInfoResponse"/>
    </message>
    <message name="BusinessServiceException">
        <part name="fault" element="tns:BusinessServiceException"/>
    </message>
    <message name="createCustomerEmploymentInfo">
        <part name="parameters" element="tns:createCustomerEmploymentInfo"/>
    </message>
    <message name="createCustomerEmploymentInfoResponse">
        <part name="parameters" element="tns:createCustomerEmploymentInfoResponse"/>
    </message>
    <message name="createGroupInformation">
        <part name="parameters" element="tns:createGroupInformation"/>
    </message>
    <message name="createGroupInformationResponse">
        <part name="parameters" element="tns:createGroupInformationResponse"/>
    </message>
    <message name="removeCustomerIdentification">
        <part name="parameters" element="tns:removeCustomerIdentification"/>
    </message>
    <message name="removeCustomerIdentificationResponse">
        <part name="parameters" element="tns:removeCustomerIdentificationResponse"/>
    </message>
    <message name="removeCustomerContactDetails">
        <part name="parameters" element="tns:removeCustomerContactDetails"/>
    </message>
    <message name="removeCustomerContactDetailsResponse">
        <part name="parameters" element="tns:removeCustomerContactDetailsResponse"/>
    </message>
    <message name="removeCustomerAddress">
        <part name="parameters" element="tns:removeCustomerAddress"/>
    </message>
    <message name="removeCustomerAddressResponse">
        <part name="parameters" element="tns:removeCustomerAddressResponse"/>
    </message>
    <message name="removeCustomerImage">
        <part name="parameters" element="tns:removeCustomerImage"/>
    </message>
    <message name="removeCustomerImageResponse">
        <part name="parameters" element="tns:removeCustomerImageResponse"/>
    </message>
    <message name="modifyCustomerExternalBeneficiary">
        <part name="parameters" element="tns:modifyCustomerExternalBeneficiary"/>
    </message>
    <message name="modifyCustomerExternalBeneficiaryResponse">
        <part name="parameters" element="tns:modifyCustomerExternalBeneficiaryResponse"/>
    </message>
    <message name="modifyCustomerBankInformation">
        <part name="parameters" element="tns:modifyCustomerBankInformation"/>
    </message>
    <message name="modifyCustomerBankInformationResponse">
        <part name="parameters" element="tns:modifyCustomerBankInformationResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="findCustomerExternalBeneficiaries">
        <part name="parameters" element="tns:findCustomerExternalBeneficiaries"/>
    </message>
    <message name="findCustomerExternalBeneficiariesResponse">
        <part name="parameters" element="tns:findCustomerExternalBeneficiariesResponse"/>
    </message>
    <message name="modifyCustomer">
        <part name="parameters" element="tns:modifyCustomer"/>
    </message>
    <message name="modifyCustomerResponse">
        <part name="parameters" element="tns:modifyCustomerResponse"/>
    </message>
    <message name="findCustomerAccountDetails">
        <part name="parameters" element="tns:findCustomerAccountDetails"/>
    </message>
    <message name="findCustomerAccountDetailsResponse">
        <part name="parameters" element="tns:findCustomerAccountDetailsResponse"/>
    </message>
    <message name="findCustomerNotesInformation">
        <part name="parameters" element="tns:findCustomerNotesInformation"/>
    </message>
    <message name="findCustomerNotesInformationResponse">
        <part name="parameters" element="tns:findCustomerNotesInformationResponse"/>
    </message>
    <message name="findCustomerImageInformation">
        <part name="parameters" element="tns:findCustomerImageInformation"/>
    </message>
    <message name="findCustomerImageInformationResponse">
        <part name="parameters" element="tns:findCustomerImageInformationResponse"/>
    </message>
    <message name="findCustomerPersonalInformation">
        <part name="parameters" element="tns:findCustomerPersonalInformation"/>
    </message>
    <message name="findCustomerPersonalInformationResponse">
        <part name="parameters" element="tns:findCustomerPersonalInformationResponse"/>
    </message>
    <message name="findCustomerAddress">
        <part name="parameters" element="tns:findCustomerAddress"/>
    </message>
    <message name="findCustomerAddressResponse">
        <part name="parameters" element="tns:findCustomerAddressResponse"/>
    </message>
    <message name="addCustomerAddress">
        <part name="parameters" element="tns:addCustomerAddress"/>
    </message>
    <message name="addCustomerAddressResponse">
        <part name="parameters" element="tns:addCustomerAddressResponse"/>
    </message>
    <message name="findCustomerContactDetails">
        <part name="parameters" element="tns:findCustomerContactDetails"/>
    </message>
    <message name="findCustomerContactDetailsResponse">
        <part name="parameters" element="tns:findCustomerContactDetailsResponse"/>
    </message>
    <message name="findCustomerBankInformation">
        <part name="parameters" element="tns:findCustomerBankInformation"/>
    </message>
    <message name="findCustomerBankInformationResponse">
        <part name="parameters" element="tns:findCustomerBankInformationResponse"/>
    </message>
    <message name="getCustomerName">
        <part name="parameters" element="tns:getCustomerName"/>
    </message>
    <message name="getCustomerNameResponse">
        <part name="parameters" element="tns:getCustomerNameResponse"/>
    </message>
    <message name="findCustomers">
        <part name="parameters" element="tns:findCustomers"/>
    </message>
    <message name="findCustomersResponse">
        <part name="parameters" element="tns:findCustomersResponse"/>
    </message>
    <message name="getGroups">
        <part name="parameters" element="tns:getGroups"/>
    </message>
    <message name="getGroupsResponse">
        <part name="parameters" element="tns:getGroupsResponse"/>
    </message>
    <portType name="CustomerWebServiceStub">
        <operation name="findCustomerRelationshipInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerRelationshipInformationRequest" message="tns:findCustomerRelationshipInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerRelationshipInformationResponse" message="tns:findCustomerRelationshipInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerRelationshipInformation/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerIdentificationInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerIdentificationInformationRequest" message="tns:findCustomerIdentificationInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerIdentificationInformationResponse" message="tns:findCustomerIdentificationInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerIdentificationInformation/Fault/XAPIException"/>
        </operation>
        <operation name="addGroupMember">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addGroupMemberRequest" message="tns:addGroupMember"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addGroupMemberResponse" message="tns:addGroupMemberResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addGroupMember/Fault/XAPIException"/>
        </operation>
        <operation name="createCollateral">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCollateralRequest" message="tns:createCollateral"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCollateralResponse" message="tns:createCollateralResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCollateral/Fault/XAPIException"/>
        </operation>
        <operation name="submitCustomer">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/submitCustomerRequest" message="tns:submitCustomer"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/submitCustomerResponse" message="tns:submitCustomerResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/submitCustomer/Fault/XAPIException"/>
        </operation>
        <operation name="getGroupMember">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMemberRequest" message="tns:getGroupMember"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMemberResponse" message="tns:getGroupMemberResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMember/Fault/XAPIException"/>
        </operation>
        <operation name="createCustomer">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerRequest" message="tns:createCustomer"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerResponse" message="tns:createCustomerResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomer/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerBasicInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBasicInformationRequest" message="tns:findCustomerBasicInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBasicInformationResponse" message="tns:findCustomerBasicInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBasicInformation/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerCollateralInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerCollateralInformationRequest" message="tns:findCustomerCollateralInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerCollateralInformationResponse" message="tns:findCustomerCollateralInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerCollateralInformation/Fault/XAPIException"/>
        </operation>
        <operation name="addCustomerImage">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerImageRequest" message="tns:addCustomerImage"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerImageResponse" message="tns:addCustomerImageResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerImage/Fault/XAPIException"/>
        </operation>
        <operation name="addCustomerDocument">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerDocumentRequest" message="tns:addCustomerDocument"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerDocumentResponse" message="tns:addCustomerDocumentResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerDocument/Fault/XAPIException"/>
        </operation>
        <operation name="addCustomerIdentification">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerIdentificationRequest" message="tns:addCustomerIdentification"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerIdentificationResponse" message="tns:addCustomerIdentificationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerIdentification/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerIdentification">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerIdentificationRequest" message="tns:modifyCustomerIdentification"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerIdentificationResponse" message="tns:modifyCustomerIdentificationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerIdentification/Fault/XAPIException"/>
        </operation>
        <operation name="addCustomerContactDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerContactDetailsRequest" message="tns:addCustomerContactDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerContactDetailsResponse" message="tns:addCustomerContactDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerContactDetails/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerContactDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerContactDetailsRequest" message="tns:modifyCustomerContactDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerContactDetailsResponse" message="tns:modifyCustomerContactDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerContactDetails/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerAddress">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerAddressRequest" message="tns:modifyCustomerAddress"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerAddressResponse" message="tns:modifyCustomerAddressResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerAddress/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerDocument">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerDocumentRequest" message="tns:modifyCustomerDocument"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerDocumentResponse" message="tns:modifyCustomerDocumentResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerDocument/Fault/XAPIException"/>
        </operation>
        <operation name="getCustomerNameOrder">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerNameOrderRequest" message="tns:getCustomerNameOrder"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerNameOrderResponse" message="tns:getCustomerNameOrderResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerNameOrder/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerImage">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerImageRequest" message="tns:modifyCustomerImage"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerImageResponse" message="tns:modifyCustomerImageResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerImage/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerAllAddress">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAllAddressRequest" message="tns:findCustomerAllAddress"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAllAddressResponse" message="tns:findCustomerAllAddressResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAllAddress/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerDataItem">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDataItemRequest" message="tns:findCustomerDataItem"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDataItemResponse" message="tns:findCustomerDataItemResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDataItem/Fault/XAPIException"/>
        </operation>
        <operation name="getGroupInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupInformationRequest" message="tns:getGroupInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupInformationResponse" message="tns:getGroupInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupInformation/Fault/XAPIException"/>
        </operation>
        <operation name="getAgentCustomers">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getAgentCustomersRequest" message="tns:getAgentCustomers"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getAgentCustomersResponse" message="tns:getAgentCustomersResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getAgentCustomers/Fault/XAPIException"/>
        </operation>
        <operation name="getGroupMemberList">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMemberListRequest" message="tns:getGroupMemberList"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMemberListResponse" message="tns:getGroupMemberListResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupMemberList/Fault/XAPIException"/>
        </operation>
        <operation name="removeGroupMember">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeGroupMemberRequest" message="tns:removeGroupMember"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeGroupMemberResponse" message="tns:removeGroupMemberResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeGroupMember/Fault/XAPIException"/>
        </operation>
        <operation name="createCustomerExternalBeneficiary">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerExternalBeneficiaryRequest" message="tns:createCustomerExternalBeneficiary"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerExternalBeneficiaryResponse" message="tns:createCustomerExternalBeneficiaryResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerExternalBeneficiary/Fault/XAPIException"/>
        </operation>
        <operation name="createCustomerNextOfKin">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerNextOfKinRequest" message="tns:createCustomerNextOfKin"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerNextOfKinResponse" message="tns:createCustomerNextOfKinResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerNextOfKin/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerNextOfKinInformations">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNextOfKinInformationsRequest" message="tns:findCustomerNextOfKinInformations"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNextOfKinInformationsResponse" message="tns:findCustomerNextOfKinInformationsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNextOfKinInformations/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDetailsRequest" message="tns:findCustomerDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDetailsResponse" message="tns:findCustomerDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerDetails/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerRelationshipInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerRelationshipInformationRequest" message="tns:removeCustomerRelationshipInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerRelationshipInformationResponse" message="tns:removeCustomerRelationshipInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerRelationshipInformation/Fault/XAPIException"/>
        </operation>
        <operation name="createCustomerRelationships">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerRelationshipsRequest" message="tns:createCustomerRelationships"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerRelationshipsResponse" message="tns:createCustomerRelationshipsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerRelationships/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerRelationships">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerRelationshipsRequest" message="tns:modifyCustomerRelationships"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerRelationshipsResponse" message="tns:modifyCustomerRelationshipsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerRelationships/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerBeneficiary">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerBeneficiaryRequest" message="tns:removeCustomerBeneficiary"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerBeneficiaryResponse" message="tns:removeCustomerBeneficiaryResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerBeneficiary/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerEmploymentInfo">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerEmploymentInfoRequest" message="tns:modifyCustomerEmploymentInfo"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerEmploymentInfoResponse" message="tns:modifyCustomerEmploymentInfoResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerEmploymentInfo/Fault/XAPIException"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerEmploymentInfo/Fault/BusinessServiceException"/>
        </operation>
        <operation name="createCustomerEmploymentInfo">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerEmploymentInfoRequest" message="tns:createCustomerEmploymentInfo"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerEmploymentInfoResponse" message="tns:createCustomerEmploymentInfoResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerEmploymentInfo/Fault/XAPIException"/>
            <fault message="tns:BusinessServiceException" name="BusinessServiceException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createCustomerEmploymentInfo/Fault/BusinessServiceException"/>
        </operation>
        <operation name="createGroupInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createGroupInformationRequest" message="tns:createGroupInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createGroupInformationResponse" message="tns:createGroupInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/createGroupInformation/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerIdentification">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerIdentificationRequest" message="tns:removeCustomerIdentification"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerIdentificationResponse" message="tns:removeCustomerIdentificationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerIdentification/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerContactDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerContactDetailsRequest" message="tns:removeCustomerContactDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerContactDetailsResponse" message="tns:removeCustomerContactDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerContactDetails/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerAddress">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerAddressRequest" message="tns:removeCustomerAddress"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerAddressResponse" message="tns:removeCustomerAddressResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerAddress/Fault/XAPIException"/>
        </operation>
        <operation name="removeCustomerImage">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerImageRequest" message="tns:removeCustomerImage"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerImageResponse" message="tns:removeCustomerImageResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/removeCustomerImage/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerExternalBeneficiary">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerExternalBeneficiaryRequest" message="tns:modifyCustomerExternalBeneficiary"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerExternalBeneficiaryResponse" message="tns:modifyCustomerExternalBeneficiaryResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerExternalBeneficiary/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomerBankInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerBankInformationRequest" message="tns:modifyCustomerBankInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerBankInformationResponse" message="tns:modifyCustomerBankInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerBankInformation/Fault/XAPIException"/>
            <fault message="tns:Exception" name="Exception" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerBankInformation/Fault/Exception"/>
        </operation>
        <operation name="findCustomerExternalBeneficiaries">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerExternalBeneficiariesRequest" message="tns:findCustomerExternalBeneficiaries"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerExternalBeneficiariesResponse" message="tns:findCustomerExternalBeneficiariesResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerExternalBeneficiaries/Fault/XAPIException"/>
        </operation>
        <operation name="modifyCustomer">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerRequest" message="tns:modifyCustomer"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomerResponse" message="tns:modifyCustomerResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/modifyCustomer/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerAccountDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAccountDetailsRequest" message="tns:findCustomerAccountDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAccountDetailsResponse" message="tns:findCustomerAccountDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAccountDetails/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerNotesInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNotesInformationRequest" message="tns:findCustomerNotesInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNotesInformationResponse" message="tns:findCustomerNotesInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerNotesInformation/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerImageInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerImageInformationRequest" message="tns:findCustomerImageInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerImageInformationResponse" message="tns:findCustomerImageInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerImageInformation/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerPersonalInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerPersonalInformationRequest" message="tns:findCustomerPersonalInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerPersonalInformationResponse" message="tns:findCustomerPersonalInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerPersonalInformation/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerAddress">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAddressRequest" message="tns:findCustomerAddress"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAddressResponse" message="tns:findCustomerAddressResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerAddress/Fault/XAPIException"/>
        </operation>
        <operation name="addCustomerAddress">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerAddressRequest" message="tns:addCustomerAddress"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerAddressResponse" message="tns:addCustomerAddressResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/addCustomerAddress/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerContactDetails">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerContactDetailsRequest" message="tns:findCustomerContactDetails"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerContactDetailsResponse" message="tns:findCustomerContactDetailsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerContactDetails/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomerBankInformation">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBankInformationRequest" message="tns:findCustomerBankInformation"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBankInformationResponse" message="tns:findCustomerBankInformationResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomerBankInformation/Fault/XAPIException"/>
        </operation>
        <operation name="getCustomerName">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerNameRequest" message="tns:getCustomerName"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerNameResponse" message="tns:getCustomerNameResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getCustomerName/Fault/XAPIException"/>
        </operation>
        <operation name="findCustomers">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomersRequest" message="tns:findCustomers"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomersResponse" message="tns:findCustomersResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/findCustomers/Fault/XAPIException"/>
        </operation>
        <operation name="getGroups">
            <input wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupsRequest" message="tns:getGroups"/>
            <output wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroupsResponse" message="tns:getGroupsResponse"/>
            <fault message="tns:XAPIException" name="XAPIException" wsam:Action="http://customer.server.ws.supernova.neptunesoftware.com/CustomerWebServiceStub/getGroups/Fault/XAPIException"/>
        </operation>
    </portType>
    <binding name="CustomerWebServiceStubPortBinding" type="tns:CustomerWebServiceStub">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="findCustomerRelationshipInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerIdentificationInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addGroupMember">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCollateral">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="submitCustomer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupMember">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCustomer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerBasicInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerCollateralInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCustomerImage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCustomerDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCustomerIdentification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerIdentification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCustomerContactDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerContactDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerDocument">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCustomerNameOrder">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerImage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerAllAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerDataItem">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAgentCustomers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroupMemberList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeGroupMember">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCustomerExternalBeneficiary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCustomerNextOfKin">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerNextOfKinInformations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerRelationshipInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCustomerRelationships">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerRelationships">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerBeneficiary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerEmploymentInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCustomerEmploymentInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
            <fault name="BusinessServiceException">
                <soap:fault name="BusinessServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createGroupInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerIdentification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerContactDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="removeCustomerImage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerExternalBeneficiary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomerBankInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerExternalBeneficiaries">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="modifyCustomer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerAccountDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerNotesInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerImageInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerPersonalInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="addCustomerAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerContactDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomerBankInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCustomerName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCustomers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGroups">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="XAPIException">
                <soap:fault name="XAPIException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="CustomerWebServiceEndPointPort">
        <port name="CustomerWebServiceStubPort" binding="tns:CustomerWebServiceStubPortBinding">
            <soap:address location="http://10.152.2.168:1960/supernovaws/CustomerWebServiceEndPointPort"/>
        </port>
    </service>
</definitions>
